vc100
vc110
vc120
vc140
vc141
vc142
.vs
**/bin/*
**/release/*
**/debug/*
**/*.dir
**/*.sdf
**/*.VC.db
**/ipch*
**/ImVecTool/*
CDB_Builder.VC.VC.opendb
*.suo
*.suo
msvc/src/osgPlugins/txp/osgdb_txp.vcxproj.user
msvc/src/osgPlugins/cfg/osgdb_cfg.vcxproj.user
msvc/src/osgPlugins/fbx/osgdb_fbx.vcxproj.user
msvc_applications-examples/examples/osgviewerFLTK/example_osgviewerFLTK.vcxproj.user
msvc/src/osgPlugins/dw/osgdb_dw.vcxproj.user
